# Foldes
datasets/
models/
models--nvidia--Llama-3_3-Nemotron-Super-49B-v1/
models--nvidia--Llama-3_3-Nemotron-Super-49B-v1-FP8/
modules/
nemo_checkpoints/
test/
nemo_nlp_tmp/
cold_start_config/

# Files 
*.tar.gz
stored_tokens
token
training_output.log
continue_training_output.log
