# Foldes
datasets/
models/
models--nvidia--Llama-3_3-Nemotron-Super-49B-v1/
models--nvidia--Llama-3_3-Nemotron-Super-49B-v1-FP8/
modules/
nemo_checkpoints/
test/
nemo_nlp_tmp/
cold_start_config/
models--vidore--colqwen2.5-base/
models--vidore--colqwen2.5-v0.2/
dataset_split_with_partial_sysprompt/
dataset_split_with_sysprompt/
dataset_split_without_sysprompt/


# Files 
*.tar.gz
stored_tokens
token
training_output.log
continue_training_output.log
src/graph_rag/Full_Drug_Interaction_Data.json
